<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h2>Foydalanuvchi tahrirlash</h2>
    <form action="/edit/<%= user.id %>?_method=PUT" method="post" id="post-form">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= user.name %>"> <br><br>

      <label for="username">User name</label>
      <input type="text" name="username" id="username" value="<%= user.username %>"> <br><br>

      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="<%= user.email %>"> <br><br>

      <label for="phone">phone</label>
      <input type="tel" name="phone" id="phone" value="<%= user.phone %>"> <br><br>

      <button type="submit">Saqlash</button>
    </form>

    
  </body>
</html>
